node_modules/
.expo/
dist/
coverage/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

.env*.local

.dgz.babel.config.js
src_expo

# 只保留app.json/dist.dgz
dgz/*
!dgz/build
dgz/build/*
!dgz/build/outputs
dgz/build/outputs/*
!dgz/build/outputs/app.json
!dgz/build/outputs/dist.dgz
# 只保留app.json/dist.dgz