
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

# 只保留app.json/dist.dgz
dgz/*
!dgz/build
dgz/build/*
!dgz/build/outputs
dgz/build/outputs/*
!dgz/build/outputs/app.json
!dgz/build/outputs/dist.ios.dgz
!dgz/build/outputs/dist.android.dgz
# 只保留app.json/dist.dgz